.App {
  text-align: center;
}

.app-container {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container{
  background-image: url('https://t4.ftcdn.net/jpg/10/18/96/61/360_F_1018966152_J0Lvn2UbQnaEItO1XuQ5bxJfKwF4Z3aE.jpg');
  background-size: contain;
  height: 200px;
}
.app-heading {
  color: coral;
  margin-bottom: 20px;
  font-family: cursive;
}

.add-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #0056b3;
}
